* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden; /*Prevents horizontal scroll */
    /* scroll-behavior: smooth; */
}

/* Fix for your body - note it should be 'body' not '.body' */
body {
    font-family: Ebrima, BlinkMacSystemFont, sans-serif;
    background: #ffffff;
    color: #000000;
    font-size: 18px;
    margin: 0; /* Double ensure no margin */
    padding-top: 0px; /* Must match header height */
    /* min-height: 200vh; Ensure page is scrollable */
}




/* ________________________HEADER CODE____________________________ */
/* ________________________HEADER CODE____________________________ */
/* ________________________HEADER CODE____________________________ */
.site-header {

    position: fixed;
    width: 100%;
    background-color: rgb(255 255 255 / 0%);
    height: 100px;
    z-index: 1000;
}
.header-top {
    width: 100%;
}

.header-container {
    display: flex;
    height: 100px;
    justify-content: space-between;
    width: 100%;
    padding: 0 30px 0 30px;
    align-items: center;
}
.nav-button{
    background-color: transparent; /* White with 50% transparency */
    color: black; /* Text color */
    border: transparent; /* Black border with 50% transparency */
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    
    transition: background-color 0.3s, border 0.3s;
}
.nav-menu a{
    color: black;
    text-decoration: none; 

}




/* ________________________FOOTER CODE____________________________ */
/* ________________________FOOTER CODE____________________________ */
/* ________________________FOOTER CODE____________________________ */
/* ________________________FOOTER CODE____________________________ */

.site-footer {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    min-height: 30vh;
}

.footer-wedgits-area {
    height: 100%;
    color: white;
    background-color: rgb(18, 168, 118);
    justify-content: space-between;
    padding: 1rem 2rem;
}

.footer-endside {
    background-color: rgb(7, 114, 78);
    color: #ffffff;
    justify-content: center;
}

.webside-copyrights {
    text-align: center;
}